<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html" />
<link rel="import" href="../bower_components/paper-material/paper-material.html" />
<link rel="import" href="../bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html" />

<dom-module id="todo-item">
    <style>
        paper-material {
            padding: 10px 0 10px 10px;
        }
        .delete-button {
            color: #9575cd;
            float: right;
            bottom: 9px;
        }
    </style>
    <template>
        <paper-material elevation="1">
            <paper-checkbox checked="{{todo.done}}">
                {{todo.name}}
            </paper-checkbox>
            <paper-icon-button icon="delete" on-tap="_delete" class="delete-button"></paper-icon-button>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: "todo-item",
            _delete: function () {
                this.fire('opzouten', this.todo)
            }
        })
    </script>
</dom-module>