<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/paper-input/paper-input.html" />
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../bower_components/iron-icons/iron-icons.html" />

<link rel="import" href="todo-data.html" />
<link rel="import" href="todo-list.html" />

<dom-module id="todo-view">
    <style>
        paper-icon-button {
            color: #3d5afe;
        }
        paper-icon-button:hover {
            color: #9575cd;
        }
    </style>
    <template>
        <div>
        <div>
            <paper-input-container>
                <paper-icon-button prefix icon="add-box" on-tap="_tap"></paper-icon-button>
                <label>to do</label>
                <input is="iron-input" bind-value="{{value}}">
            </paper-input-container>
        </div>
        <div>
            <todo-data todos="{{todos}}"></todo-data>
            <h3>Uncompleted</h3>
            <todo-list filter-by="uncompleted" todos="{{todos}}"></todo-list>
            <h3>Completed</h3>
            <todo-list filter-by="completed" todos="{{todos}}"></todo-list>
        </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "todo-view",
            _tap: function () {
                if (this.value) {
                    this.push('todos', {
                        name: this.value,
                        done: false
                    });
                    this.value = null
                }
            }
        })
    </script>
</dom-module>