<link rel="import" href="../bower_components/polymer/polymer.html" />

<dom-module id="todo-data">
    <script>
        Polymer({
            is: "todo-data",
            properties: {
                todos: {
                    notify: true, // enables two-way binding
                    value: function () {
                        return [
                            {
                                name: "buy some milk",
                                done: false,
                                archive: false
                            },
                            {
                                name: "Learn Polymer",
                                done: false,
                                archive: false
                            },
                            {
                                name: "Clean house",
                                done: true,
                                archive: false
                            }
                        ]
                    }
                }
            }
        })
    </script>
</dom-module>